/* 在主页index.less中 去引入公共样式base.less */
/* 定义一些公共的全局变量 */
* {
  margin: 0;
  padding: 0;
  /* 在移动端给所有元素设置box-sizing:border-box; 让盒模型计算方式固定为 设置的宽高 不会被padding或者border影响 */
  box-sizing: border-box;
  /* 在移动端去除一些按住高亮的背景色 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 禁止页面文字选择 ，此属性不继承，一般加在body上规定整个body的文字都不会自动调整 */
  -webkit-user-select: none;
  /* 禁止文字自动调整大小(默认情况下旋转设备的时候文字大小会发生变化)，此属性也不继承，一般加在body上规定整个body的文字都不会自动调整  */
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 14px;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  /* input内外边框都去掉 */
  border: 0;
  outline: 0;
}
img {
  /* 设置图标标签对齐方式 中线对齐 解决图片距离块级元素3px间距 */
  vertical-align: middle;
}
input,
button {
  /* 消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式  */
  -webkit-appearance: none;
  /* 去掉IOS移除原生控件样式 */
  -webkit-touch-callout: none;
}
/* 写一些公共的样式 */
.bt {
  border-top: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
.bl {
  border-left: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
/* 头部区域样式 */
#header {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
}
#header .icon-logo {
  display: block;
  width: 4rem;
  height: 2.25rem;
  padding: 0.5rem 0.55rem;
  background-image: url(../images/sprites.png);
  /* 注意按照北京图的原图宽高注意2来写 原图是400*400 设置为200*200 */
  background-size: 10rem 10rem;
  /* 北京图的定位也是要 除以2来写 0 216px  变成 -108px */
  background-position: 0 -5.4rem;
  /* 吊证背景图定位原点 参照盒模型的哪个区域 */
  background-origin: content-box;
  /* 设置背景图的裁切 裁切掉了  内容区域以外的北京图 */
  background-clip: content-box;
}
#header form {
  flex: 1;
  padding-top: .25rem;
  position: relative;
}
#header form .icon-search {
  position: absolute;
  left: 0.35rem;
  top: 0.6rem;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/sprites.png);
  background-size: 10rem 10rem;
  background-position: -14rem 0.2rem;
}
#header form input {
  width: 100%;
  height: 1.75rem;
  border-radius: 0.875rem;
  padding-left: 1.5rem;
}
#header .login {
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: #fff;
}
/* 轮播图区域 */
#slide img {
  width: 100vw;
}
/* 导航条区域样式 */
#nav {
  padding: 0.5rem 0;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
}
#nav ul li {
  width: 25vw;
}
#nav ul li a {
  display: block;
  text-align: center;
}
#nav ul li a img {
  width: 2rem;
  height: 2rem;
}
#nav ul li a p {
  font-size: 0.7rem;
  margin: 0.2rem 0;
}
/* 主体商品区域 */
#main {
  padding: 0.5rem;
  background-color: #eee;
}
#main .seckill {
  background-color: #fff;
  box-shadow: 0px 0px 0.25rem #666;
}
#main .seckill .title {
  display: flex;
  /* 设置两端对齐 */
  justify-content: space-between;
  line-height: 1.9rem;
}
#main .seckill .title .left {
  display: flex;
}
#main .seckill .title .left > span {
  font-size: 0.9rem;
  color: #de181b;
}
#main .seckill .title .left > img {
  width: 1.35rem;
  height: 1.5rem;
  margin: 0.25rem;
}
#main .seckill .title .left .down-time {
  margin-left: 0.25rem;
}
#main .seckill .title .left .down-time > span {
  font-size: 0.9rem;
  background-color: #fff;
  color: #000;
}
#main .seckill .title .left .down-time > span:not(:nth-child(3n)) {
  display: inline-block;
  color: #fff;
  background-color: #000;
  width: 0.75rem;
  height: 0.85rem;
  text-align: center;
  line-height: 0.85rem;
}
#main .seckill .title .more {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: #000;
}
#main .seckill .content ul {
  padding-top: .4rem;
  display: flex;
}
#main .seckill .content ul li {
  flex: 1;
}
#main .seckill .content ul li a {
  display: block;
  text-align: center;
}
#main .seckill .content ul li a img {
  width: 5.5rem;
  height: 5.5rem;
}
#main .seckill .content ul li a p {
  font-size: 0.7rem;
}
#main .seckill .content ul li a p > span {
  color: #de181b;
  display: inline-block;
  padding-top: 0.5rem;
}
#main .seckill .content ul li a p > del {
  color: #ccc;
  display: inline-block;
  margin-bottom: 0.6rem;
}
#main .seckill .content ul li ~ li {
  border-left: 2px solid #ccc;
  height: 8.5rem;
}
